.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    background-color: #ECF4E8;
    height: 100vh;
    padding: 20px;
    color: black;
    transition: all 1s;
}

.sidemenu-user {
    padding: 15px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 0;
    width: 100%;
    color: black;
    ion-label {
        text-align: center;
    }
    background-color: lightgray;
    border-radius: 20px;
}

.logout-btn {
    border-radius: 50px;
    overflow: hidden;
    --padding-end: 10px;
    --padding-start: 10px;
    --background: #A72703;
    width: 50px;
    height: 30px;
}

.sidemenu-content {
    margin-top: 30px;
}

.module-title {
    border-bottom: #778873 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.module-btns {
    ion-button {
        font-family: var(--font-family);
    }
    ion-button > div {
        display: flex;
        gap: 12px;
        align-items: center;
        text-align: start;
    }
}

@media (width < 500px) {
    .sidemenu {
        width: 180px;
        transition: all 1s;
    }
}