<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-title>Novo Paciente</ion-title>
      <ion-buttons>
        <ion-button (click)="CloseModal()">
          <span class="close-modal">
            <ion-icon name="close-outline"></ion-icon>
            <span>Fechar</span>
          </span>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forms">
    <ion-input fill="outline" labelPlacement="floating" [(ngModel)]="nome">
      <div slot="label">
        <span>Nome </span>
        <span style="color: red;">(Obrigatório)</span>
      </div>
    </ion-input>
    <ion-select fill="outline" labelPlacement="floating" [(ngModel)]="tipo">
      <div slot="label">
        <span>Tipo </span>
        <span style="color: red;">(Obrigatório)</span>
      </div>
      <ion-select-option>Cachorro</ion-select-option>
      <ion-select-option>Gato</ion-select-option>
    </ion-select>
    <ion-input fill="outline" labelPlacement="floating" [(ngModel)]="idade">
      <div slot="label">
        <span>Idade </span>
        <span style="color: red;">(Obrigatório)</span>
      </div>
    </ion-input>
    <ion-select fill="outline" labelPlacement="floating" [(ngModel)]="ultima_consulta">
      <div slot="label">
        <span>Última consulta </span>
        <span style="color: red;">(Obrigatório)</span>
      </div>
      <ion-select-option>1 a 3 meses</ion-select-option>
      <ion-select-option>Mais de 1 ano</ion-select-option>
    </ion-select>
    <ion-button (click)="InsertPaciente();">cadastrar</ion-button>
  </div>
</ion-content>